* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
      color: white;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .card {
      background: #007092;
      box-shadow: 0 0 15px rgba(0,0,0,0.7);
      border-radius: 15px;
    }
    .bi{
      color: rgb(211, 211, 36);
    }
    input[type="range"] {
       background: white;
      height: 6px;
      border-radius: 5px;
   }
   
   .btn2 {
      background-color: #298f9c!important;
      padding: 10px;
      border: none;
      color: white;
      cursor: pointer;
      border-radius: 10px;
      width: 100%;
      font-size: 16px;
   }
   .btn2:hover{
      background-color: #054255;
   }